<html>
<body>
    <div>
        LogicApp main Page
    </div>
    <div>
        <form action="/logout" method="post">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            <input type="submit", value="Sign Out">
        </form>
    </div>
    <div>
        <form method="post", action="/save">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            <input type="text", name="text", placeholder="Print message">
            <input type="text", name="tag", placeholder="Print tag">
            <button type="submit">Add</button>
        </form>
    </div>
    <div>
        <form method="get", action="/messages/get">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            <button type="submit">Get Messages</button>-->
        </form>
    </div>

<div>
        <form method="get", action="/reset">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            <button type="submit">Reset</button>
        </form>

        <form method="get" action="/filter">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            <input type="text", name="filter", placeholder="Filter">
            <button type="submit">Submit</button>
        </form>
    </div>
    <div>Messages list</div>
        {{#messages}}
            <div>
                <span>{{text}}</span>
                <i>{{tag}}</i>
            </div>
        {{/messages}}
</body>
</html>